#begin_btn {
  border-radius: 30px;
}

#welcome{
  height: 40%;
  width: 70%;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(
                  #64b5f6, #1565c0);
  opacity: .8;
  margin: auto;
  border: 2px solid #42a5f5;

  /* background-image: url("/assets/neighborhood.jpg"); */
}

#welcometext{
  text-align: center;
  color: white;
  margin:auto;
  font-size: 8vw;
  font-family: 'Raleway', sans-serif;
}

#container {
}

#welcomewrap {
  background-image: url("/assets/neighborhood.jpg");
  background-size: cover;
  padding-top: 3%;
  width: 100%;
  height: 100%;
}

#begin_btn{
  /* width:30%; */
}

#cardinfo{
  margin: auto;
  border-radius: 20px;
  width: 50%;
  opacity: .8;
}

#indexnav{
  margin-bottom: 0px;
}

#indexfooter{
  margin-top: 0px;
}

#cardinfo > div {
  border-radius: 20px;
}
