success!!


<div id="search-panel">
      <input id="address" type="textbox" value="10010">
      <input id="submit" type="button" value="Search">
</div>
<div class="thebody"></div>

<input type='hidden' id="access_token_for_js" value="<%= @act %>">


<div class="grid">
<!-- <div class="thebody"> -->


</div>
