
<div id="searchcontainer">
  <div id="search-panel" class="input-field">
        <input id="address" type="text">
        <label class="active" for="address">Zip Code</label>
        <input class="waves-effect waves-light btn-large z-depth-2" id="submit" type="button" value="Search">
  </div>
</div>

<input type='hidden' id="access_token_for_js" value="<%= @act %>">

<h5 class="center-align">What's Here:</h5>

<div class="clearfix">
<div class="grid">


</div>
</div>



